<br>
<br>
<h1 class="text-center">
    Compiladores
</h1>
<br>

<br>
<div class="container">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">

            <form>
                <div class="mb-3">
                    <label for="inputTextLexical" class="form-label">
                        Código
                    </label>
                    <textarea [(ngModel)]="codigo" name="codig_fuente" class="form-control" id="inputTextLexical" aria-describedby="textLexHelp" cols="30" rows="10"></textarea>
                    <div id="textLexHelp" class="form-text">
                        Ingrese el código a analizar lexicamente
                    </div>
                </div>
                <div class="text-center">
                    <button type="type" class="btn btn-warning btn-lg" (click)="onAnalizar()" [hidden]="codigo.length == 0">
                        Analizar código
                    </button>
                </div>
            </form>

            <br>
            <hr>
            <br>
            <h3>
                Resultado
            </h3>
            <br>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Lexema
                        </th>
                        <th>
                            Categoria
                        </th>
                        <th>
                            Fila
                        </th>
                        <th>
                            Columna
                        </th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let token of tokens">
                        <td>
                            {{token.lexema}}
                        </td>
                        <td>
                            {{token.categoria}}
                        </td>
                        <td>
                            {{token.fila}}
                        </td>
                        <td>
                            {{token.columna}}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="col-2">

        </div>
    </div>
</div>